[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "==1.3.24"
psycopg2 = "*"
uvicorn = "*"
passlib = {extras = ["argon2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
